/bochs.log
.metadata/
obj/
/.settings
.settings/language.settings.xml
.settings/language.settings.xml
.settings/language.settings.xml

/opt/
/qemu/
/sbin/
/tmp/
/var/
/usr/
/-p/
/bochs/
/bin/
/dev/
/etc/
/home/
/mingw/
/logs/